{% load static tailwind_tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block page_title %}WPI XC/TF Scheduler{% endblock %}
        </title>
        <meta name="description" content="WPI XC/TF schedule coordinator">
    </meta>
    {% tailwind_css %}
</head>
<body class="bg-gray-50 font-sans">
    <main class="container">
        {% block nav_head %}
            {% if user.is_authenticated %}
                {% block nav_head_auth_content %}
                    <p>
                        <a href="{% url 'profile-index' %}">Profile</a>
                        <a href="{% url 'schedule-index' %}">Schedule</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </p>
                {% endblock %}
            {% endif %}
        {% endblock %}
        {% block alerts %}
            {% if error %}
                <div class="bg-gray-200 border-2 border-black">
                    <strong>Error!</strong>
                    {% for err in error %}
                        <p class="bg-red-500 text-white">
                            {{ err }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if message %}
                <div class="bg-gray-200 border-2 border-black">
                    <strong>Message</strong>
                    {% for msg in message %}
                        <p class="bg-yellow-500 text-black">
                            {{ msg }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
    </main>
</body>
