{% load static tailwind_tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block page_title %}WPI XC/TF Scheduler{% endblock %}
        </title>
        <meta name="description" content="WPI XC/TF schedule coordinator">
    </meta>
    {% tailwind_css %}
</head>
<body class="bg-gray-50 font-sans">
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
